@import "tailwindcss";

@theme inline {
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

body {
  background: white;
  color: #111827;
  font-family: InterVariable, sans-serif;
}

